.qtybutton {
  border: 1px solid gray;
  padding: 5px 10px;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}
.productName{
    padding: 5px;
}
.closeIconSvg {
    cursor: pointer;
}
.qtyController {
  min-width: 20px;
  text-align: center;
}
.BoxCheckout {
    display: none;
  }
.DeleteBtnWrapper {
  display: flex;
}
.imageCartWrapper {
  width: 50px;
  height: 50px;
}
.closeIcon {
  display: none;
}
.DeleteBtnWrapper {
  background-color: transparent;
  padding: 10px;
}
.qtyWrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.MobileqtyWrapper {
  display: none;
  justify-content: flex-start;
  align-items: center;
}
.MuiCardMedia-root {
  height: 100% !important;

}
.ButtonCheckoutWrappr {
    display: block;
}
/* Button */

.ButtonCheckout.MuiButtonBase-root:hover {
  background-color: transparent;
  color: black;
}
.ButtonCheckout.MuiButtonBase-root {
  background: red;
  color: white;
}
.Button.MuiButtonBase-root:hover {
  background-color: transparent;
}
.Button.MuiButtonBase-root {
  color: black;
  padding: 0px;
  background-color: transparent;
}
.ButtonDelete.MuiButtonBase-root {
  color: black !important;
}
.ButtonDelete.MuiButtonBase-root:hover {
  color: red !important;
  background-color: transparent;
}

/* Box */
.hederButtonBox {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.BoxContainer {
  width: 95%;
  margin: 0 auto;
  flex-grow: 1;
  margin-top: 5;
}
.BoxCard {
  margin: 20px 0;
  padding: 5px;
  border: 1px solid gray;
  border-radius: 5px;
}
.BoxEmptyCart {
  height: 300;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Typography */
.Secondary-Text.MuiTypography-root {
  font-size: 10px;
  color: gray;
}
/* 

/* Mobile */
@media only screen and (max-width: 600px) {
  .DeleteBtnWrapper {
    display: none;
  }
  .ButtonDelete.MuiButtonBase-root:hover {
    color: black !important;
    background-color: transparent;
  }
  .hederButtonBox {
    display: block;
  }
  .closeIcon {
    display: block;
    color: red;
    text-align: end;
  }
  .imageCart {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px !important;
  }
  .imageCartWrapper {
    width: 100px;
    height: 100px;
    background-color: #cdcdcd;
    padding: 10px;
    border-radius: 10px;
  }
  .qtyWrapper {
    display: none;
  }
  .MobileqtyWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
  }
  .productName {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0px !important;
  }
  .productPrice {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px !important;
  }
  .BoxCheckout {
    width: 100%;
    background: red;
    text-align: center;
    position: fixed;
    bottom: 0%;
    display: block;
    left: 0%;
    display: block;
  }
.ButtonCheckout.MuiButtonBase-root:hover {
    color: white !important;
    background-color: transparent;
  }
  .ButtonCheckoutWrappr {
    display: none;
  }
}
